canvas {
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}

body {
    background-color: green;
    color: white;
    font-family: monospace;
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 300px;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.btn {
    text-align: center;
    background-color: orange;
    color: white;
    transition: 0.3s;
    border: 0;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

.btn:hover {
    opacity: 0.8;
}